<head>
  <title>IT255-DZ05-3278</title>
  <meta charset="utf-8">
</head>

<body>
  <div class="container mt-5 mb-5">
    <div class="" style="text-align:center; font-family: 'Consolas'">
      <h5 class="card-header info-color white-text text-center py-4">
        <strong>IT255-DZ05-3278</strong>
      </h5>
      <div class="card-body px-lg-5 pt-0">
        <form class="text-center" style="color: #757575;" action="#!">
          <div class="md-form">
            <label for="type" style="color: #000000;" class="labele">Naziv Sobe:</label>
            <input class="form-control" style="text-align:center" #newtip placeholder="naziv" name="type">
          </div>
          <div class="md-form">
            <label for="price" style="color: #000000;" class="labele">Cena Sobe:</label>
            <input type="number" class="form-control" style="text-align:center" #newcena placeholder="cena" name="cena">
          </div>
          <button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
            (click)="addRoom(newtip,newcena)">UNESI</button>
          <button type="submit" class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0"
            (click)="random()">PROMENA REDOSLEDA</button>
        </form>
        <div>
          <div class="md-form">
            <h3>* PRETRAGA SOBA PO CENI *</h3>
            <input [(ngModel)]="price" class="form-control" placeholder="CENA" />
          </div>
          <div class="container mt-5 mb-5" *ngFor="let soba of sobe | mypipe : price; index as i;">
            <room class="container mt-5 mb-5" (roomToDelete)="removeRoom($event)" (updateRoom)="updateRoom($event)" [soba]="soba"></room>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>